<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Logis Bootstrap Template - Services</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/assets/img/favicon.png" rel="icon">
  <link href="/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link href="/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <link href="/assets/vendor/aos/aos.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/assets/css/main.css" rel="stylesheet">
  <style>
    table {
      width: 100%;
      border-collapse: collapse;
    }
    th, td {
      border: 1px solid #ddd;
      padding: 8px;
      text-align: left;
    }
    th {
      background-color: #f2f2f2;
    }
    tr:nth-child(even) {
      background-color: #f2f2f2;
    }
    tr:hover {
      background-color: #ddd;
    }
  </style>
</head>

<body>

<header th:replace="/header::header"></header>


<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
      <div class="page-header d-flex align-items-center" style="background-image: url('/assets/img/s_back.png');">
        <div class="container position-relative">
          <div class="row d-flex justify-content-center">
            <div class="col-lg-6 text-center">
              <h2>카테고리별 대학 검색</h2>
              <p>어쩌구 저쩌구</p>
            </div>
          </div>
        </div>
      </div>
      <nav>
        <div class="container">
          <ol>
            <li><a href="index.do">Home</a></li>
            <li>카테고리별 대학 검색</li>
          </ol>
        </div>
      </nav>
    </div><!-- End Breadcrumbs -->

    <!-- ======= Featured Services Section ======= -->
      <div class="container">
        <div class="tab_sch">
          <form name="frmSrch" method="post" onsubmit="return true" action="">
            <input type="text" name="search" th:value="${searchKeyword}" class="sch_txt" placeholder="대학명"/>
            <span>국가 선택:</span>
            <select name="univ_country" class="univ_country">
              <option value="">전체</option>
              <option th:each="country : ${countryList}" th:value="${country.univ_country}" th:text="${country.univ_country}"
                      th:selected="${country.univ_country == s_country}"></option>
            </select>
            <span>언어 선택:</span>
            <select name="univ_lang" class="univ_lang">
              <option value="">전체</option>
              <option th:each="lang : ${langList}" th:value="${lang.univ_lang}" th:text="${lang.univ_lang}"
                      th:selected="${lang.univ_lang == s_lang}"></option>
            </select>
            <input type="button" value="검색" class="sch_btn" onclick="srch()" />
          </form>
        </div>
        <table style="height: 600px;">
          <tr>
            <th>순번</th>
            <th>이름</th>
            <th>국가</th>
            <th>언어</th>
            <th>학제</th>
          </tr>
          <tr th:each="univ, index : ${univList}">
            <td th:text="${(pg - 1) * recordCountPerPage + index.index + 1}"></td>
            <td><a th:href="@{/univDtl.do(univ_id=${univ.univ_id})}" th:text="${univ.univ_name}"></a></td>
            <td th:text="${univ.univ_country}"></td>
            <td th:text="${univ.univ_lang}"></td>
            <td th:text="${univ.univ_score}"></td>
          </tr>
        </table>
        <nav aria-label="Page navigation">
          <ul class="pagination">
            <li class="page-item">
              <a class="page-link" name="prev" th:onclick="'pageMove(\'prev\', ' + ${pg} + ')'">prev</a>
            </li>
            <li class="page-item" th:each="pageNo : ${#numbers.sequence(1, totalPageCount)}">
              <a class="page-link" name="now" th:onclick="'pageMove(\'now\', ' + ${pageNo} + ')'" th:text="${pageNo}"></a>
            </li>
            <li class="page-item">
              <a class="page-link" name="next" th:onclick="'pageMove(\'next\', ' + ${pg} + ')'">next</a>
            </li>
          </ul>
        </nav>
      </div>
  </main><!-- End #main -->

<footer th:replace="/footer::footer"></footer>


<a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="/assets/vendor/aos/aos.js"></script>
  <script src="/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="/assets/js/main.js"></script>
<script>
  function srch() {
    let searchValue = document.querySelector(".sch_txt").value;
    let univ_country = document.querySelector('select[name="univ_country"]').value;
    // let univ_country = document.querySelector(".univ_country").value;
    console.log(univ_country);

    let form = document.querySelector('form[name="frmSrch"]');
    form.querySelector('input[name="search"]').value = searchValue;
    form.querySelector('select[name="univ_country"]').value = univ_country;

    form.action="/services.do"
    form.submit();
  }
  let totalPageCount = [[${totalPageCount}]];

  function pageMove(action,pg) {
    let form = document.createElement("form");
    form.method = "POST";
    form.action = "/services.do";

    let searchValue = document.querySelector(".sch_txt").value;
    let univ_country = document.querySelector('select[name="univ_country"]').value;
    let univ_lang = document.querySelector('select[name="univ_lang"]').value;

    let searchInput = document.createElement("input");
    searchInput.type = "hidden";
    searchInput.name = "search";
    searchInput.value = searchValue;

    let countryInput = document.createElement("input");
    countryInput.type = "hidden";
    countryInput.name = "univ_country";
    countryInput.value = univ_country;

    console.log(univ_country);
    let langInput = document.createElement("input");
    langInput.type = "hidden";
    langInput.name = "univ_lang";
    langInput.value = univ_lang;

    form.appendChild(searchInput);
    form.appendChild(countryInput);
    form.appendChild(langInput);
    let pageNoInput = document.createElement("input");
    pageNoInput.type = "hidden";
    pageNoInput.name = "pg";
    pageNoInput.value = pg;
    form.appendChild(pageNoInput);

    if (action === 'prev') {
      if(pg>1){
        pageNoInput.value = pg-1;
      }
    } else if (action === 'next') {
      if(pg<totalPageCount)
        pageNoInput.value = pg+1;
    }


    document.body.appendChild(form);
    form.submit();
  }

</script>

</body>

</html>