<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
        tr:nth-child(even) {
            background-color: #f2f2f2;
        }
        tr:hover {
            background-color: #ddd;
        }
    </style>
</head>
<body>
<link rel = "stylesheet" type="text/css" th:href = "@{/assets/css/bootstrap.min.css}">
<table>
    <tr>
        <th>이름</th>
        <th>국가</th>
        <th>언어</th>
        <th>학제</th>
    </tr>
    <tr th:each="univ : ${univList}">
        <td><a th:href="@{/univDtl.do(univ_id=${univ.univ_id})}" th:text="${univ.univ_name}"></a></td>
        <td th:text="${univ.univ_country}"></td>
        <td th:text="${univ.univ_lang}"></td>
        <td th:text="${univ.univ_score}"></td>
    </tr>
</table>
<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item">
            <a class="page-link" th:href="@{'/univList.do?pg=' + ${pg - 1 > 0 ? pg - 1 : 1}}">Previous</a>
        </li>
        <li class="page-item" th:each="pageNo : ${#numbers.sequence(1, totalPageCount)}">
            <a class="page-link" th:href="@{'/univList.do?pg=' + ${pageNo}}" th:text="${pageNo}"></a>
        </li>
        <li class="page-item">
            <a class="page-link" th:href="@{'/univList.do?pg=' + ${pg + 1 <= totalPageCount ? pg + 1 : totalPageCount}}">Next</a>
        </li>
    </ul>
</nav>

</body>
</html>
