<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel = "stylesheet" type="text/css" th:href = "@{/assets/css/bootstrap.min.css}">
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }
        table {
            width: 100%;
            border-collapse: collapse;
            margin: 20px 0;
            font-size: 16px;
            font-family: 'Arial', sans-serif;
        }

        table th, table td {
            border: 1px solid #ddd;
            padding: 12px;
            text-align: left;
        }

        table th {
            background-color: #f4f4f4;
            color: #333;
            font-weight: bold;
        }

        table tr:nth-child(even) {
            background-color: #f9f9f9;
        }

        table tr:hover {
            background-color: #f1f1f1;
        }

        table td {
            color: #555;
        }

        table td span {
            font-weight: bold;
            color: #333;
        }

        form {
            text-align: center;
        }

        .form-group {
            flex: 0 0 48%;
            width: 30%;
            display: inline-block;
        }
        .form-group label {
            display: inline-block;
            width: 200px;
            font-weight: bold;
            float: left;
        }
        .form-group input[type="text"],
        .form-group input[type="date"] {
            width: calc(100% - 210px); /* 인풋 박스의 너비를 조정 */
            padding: 5px;
        }
        .form-group input[type="radio"] {
            margin-right: 5px;
            width: auto; /* 라디오 버튼 내의 input 요소의 너비를 자동으로 조정 */
        }
        </style>
        <meta content="" name="description">
        <meta content="" name="keywords">

        <!-- Favicons -->
        <link href="/assets/img/favicon.png" rel="icon">
        <link href="/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

        <!-- Google Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

        <!-- Vendor CSS Files -->
        <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
        <link href="/assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
        <link href="/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
        <link href="/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
        <link href="/assets/vendor/aos/aos.css" rel="stylesheet">

        <!-- Template Main CSS File -->
        <link href="/assets/css/main.css" rel="stylesheet">

        </head>

        <body>

        <header th:replace="/header::header"></header>
        <main id="main">
        <!-- ======= Breadcrumbs ======= -->
        <div class="breadcrumbs">
        <div class="page-header d-flex align-items-center" style="background-image: url('/assets/img/s_back.png');">
        <div class="container position-relative">
        <div class="row d-flex justify-content-center">
        <div class="col-lg-6 text-center">
        <h2>대학 세부 정보 </h2>
        <p>선택하신 대학의 세부 정보 입니다.</p>
        </div>
        </div>
        </div>
        </div>
        <nav>
        <div class="container">
        <ol>
        <li><a href="index.do">Home</a></li>
        <li>대학 세부 정보</li>
        </ol>
        </div>
        </nav>
        </div><!-- End Breadcrumbs -->

        <!-- ======= Contact Section ======= -->
        <section id="contact" class="contact">
        <div class="container" data-aos="fade-up">
            <table>
                <tr th:each="data : ${univDetail}">
                    <td>
                        <table>
                            <tr>
                                <td>대학명</td>
                                <td th:text="${data.univ_name}"></td>
                                <td>순위</td>
                                <td th:text="${data.univ_rank}"></td>
                            </tr>
                            <tr>
                                <td>국가</td>
                                <td th:text="${data.univ_country}"></td>
                                <td>언어</td>
                                <td th:text="${data.univ_lang}"></td>
                            </tr>
                            <tr>
                                <td>학제</td>
                                <td th:text="${data.univ_score}"></td>
                                <td>배정TO(2024)</td>
                                <td th:text="${data.univ_to_2024}"></td>
                            </tr>
                            <tr>
                                <td>배정TO(2025)</td>
                                <td th:text="${data.univ_to_2025}"></td>
                                <td>웹사이트</td>
                                <td><a th:href="${data.univ_web}" th:text="${data.univ_web}" target="_blank"></a></td>
                            </tr>
                            <tr>
                                <td>파견기간</td>
                                <td th:text="${data.univ_limit_date}"></td>
                                <td>비고</td>
                                <td th:text="${data.remark}"></td>
                            </tr>
                            <tr>
                                <td>수강불가학과</td>
                                <td th:text="${data.univ_cant}"></td>
                                <td>어학수업 제공여부</td>
                                <td>
                                    <span th:if="${data.univ_eng == 'Y'}">O</span>
                                    <span th:if="${data.univ_eng == 'N'}">X</span>
                                </td>
                            </tr>
                            <tr>
                                <td>최소 수강 가능 학점</td>
                                <td th:text="${data.univ_min}"></td>
                                <td>최대 수강 가능 학점</td>
                                <td th:text="${data.univ_max}"></td>
                            </tr>
                            <tr>
                                <td>기타 참고사항</td>
                                <td th:text="${data.class_etc}"></td>
                                <td>수업 참고링크</td>
                               <td>
                                <a th:href="${data.class_link}" th:text="${data.class_link}" target="_blank"></a>
                               </td>
                            </tr>
                            <tr>
                                <td>석사 가능여부</td>
                                <td>
                                    <span th:if="${data.univ_master == 'Y'}">O</span>
                                    <span th:if="${data.univ_master == 'N'}">X</span>
                                </td>
                                <td>국적제한</td>
                                <td th:text="${data.univ_limit}"></td>
                            </tr>
                            <tr>
                                <td>직전학기 휴학가능여부</td>
                                <td>
                                    <span th:if="${data.univ_leave == 'Y'}">O</span>
                                    <span th:if="${data.univ_leave == 'N'}">X</span>
                                </td>
                                <td>GPA</td>
                                <td th:text="${data.univ_gpa}"></td>
                            </tr>
                            <tr>
                                <td>TOEFL IBT</td>
                                <td th:text="${data.univ_toefl_ibt}"></td>
                                <td>TOEFL ITP</td>
                                <td th:text="${data.univ_toefl_itp}"></td>
                            </tr>
                            <tr>
                                <td>IELTS</td>
                                <td th:text="${data.univ_ielts}"></td>
                                <td>TOEIC</td>
                                <td th:text="${data.univ_toeic}"></td>
                            </tr>
                            <tr>
                                <td>기타</td>
                                <td th:text="${data.etc}"></td>
                                <td>프로그램 참고링크</td>
                                <td><a th:href="${data.program_link}" th:text="${data.program_link}" target="_blank"></a></td>
                            </tr>
                            <tr>
                                <td>개강일</td>
                                <td th:text="${data.sch_start}"></td>
                                <td>종강일</td>
                                <td th:text="${data.sch_end}"></td>
                            </tr>
                            <tr>
                                <td>방학</td>
                                <td th:text="${data.sch_vacation}"></td>
                                <td>노미네이션 마감일</td>
                                <td th:text="${data.sch_nomi_end}"></td>
                            </tr>
                            <tr>
                                <td>어플리케이션 마감일</td>
                                <td th:text="${data.sch_app_end}"></td>
                                <td>기숙사(campus_on)</td>
                                <td>
                                    <span th:if="${data.campus_on == 'Y'}">O</span>
                                    <span th:if="${data.campus_on == 'N'}">X</span>
                                </td>
                            </tr>
                            <tr>
                                <td>기숙사(campus_off)</td>
                                <td>
                                    <span th:if="${data.campus_off == 'Y'}">O</span>
                                    <span th:if="${data.campus_off == 'N'}">X</span>
                                </td>
                                <td></td>
                                <td></td>
                            </tr>
                        </table>

                    </td>
                </tr>
            </table>
        <div>

        </div><!-- End Google Maps -->


        </div>

        </section><!-- End Contact Section -->

        </main><!-- End #main -->
        <footer th:replace="/footer::footer"></footer>

        <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

        <div id="preloader"></div>

        <!-- Vendor JS Files -->
        <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="/assets/vendor/purecounter/purecounter_vanilla.js"></script>
        <script src="/assets/vendor/glightbox/js/glightbox.min.js"></script>
        <script src="/assets/vendor/swiper/swiper-bundle.min.js"></script>
        <script src="/assets/vendor/aos/aos.js"></script>
        <script src="/assets/vendor/php-email-form/validate.js"></script>

        <!-- Template Main JS File -->
        <script src="/assets/js/main.js"></script>

<script>
    function updateData() {
        document.getElementById('dtlForm').action = '/updateDtl.do';
        document.getElementById('dtlForm').submit();
    }
</script>
</body>
</html>